// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #6B9080;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$light: #F6FFF8;
$light2:#EAF4F4;
$light3: #CCE3DE;
$light4: #A4C3B2;



$grey: #dfdad7;
$primary: #189dac;
$light-brown: #a6632f;
$secondary: #29473f;

$background: #d3eae2;
$top-spacing: 40px;
//$background: $hunter-green;
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";